html, body {
    margin: 0;
    padding: 0;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
button {

    border: 0;
    background-color: transparent;
    outline: none;
}
input {
    margin: 0;
    padding: 0;
}
.loginPage .go {
    position: absolute;
    top: 127px;
    left: 248px;
    font-size: 12px;
    line-height: 17px;
    color: #767676;
    text-align: center;
}
.loginPage .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 285px;
}
.loginPage .login .loginOrSign {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.loginPage .login .loginOrSign .login1 {
    width: 155px;
    border-bottom: 2px solid #1C1C1C;
    padding-bottom: 10px;
    text-align: center;

}
.loginPage .login .loginOrSign .login1 > a {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    opacity: 0.4;
}
.loginPage .login .loginOrSign .sign {
    width: 155px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 10px;
    text-align: center;

}
.loginPage .login .loginOrSign .sign > a {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.loginPage .login .form {
    display: flex;
    flex-direction: column;

}
.loginPage .login > form > div > input {

    width: 310px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 17px;
    color: #8D8D8D;
}
.loginPage .login > form > button {
    width: 310px;
    height: 40px;
    background: #33BD4C;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

}
 .loginPage .login .form .auto {
     display: flex;
     align-items: center;
     margin-top: 10px;
     font-size: 12px;
     line-height: 17px;
     color: #000000;

 }

 .loginPage .login .form .auto > input {
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
     margin-right: 5px;
}
