<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout">

<div th:fragment="content">
    <header class="header">
        <div class="logo">
            <img src="https://img3.doubanio.com/dae/staticng/s/bragi/5c02cfc1f8edbb05fab15d946080d7acc8dc10fb/deploy/b6a46d59a094ec51ec67452607965e2c.svg">
        </div>

        <div class="download">
            下载豆瓣FM APP · 我要反馈
        </div>
        <div class="login">
            <a href="http://127.0.0.1:8080/login">登录</a>
            |
            <a href="http://127.0.0.1:8080/sign">注册</a>
        </div>

    </header>
    <!--播放器-->
    <div class="player" th:replace="player::player"></div>
    <div class="footer2">

        <div><a href="#" class="mhz1">兆赫</a></div>
        <div><a href="#" class="songMenu">歌单</a></div>

    </div>
    <!--兆赫-->
    <div class="MHZ" th:replace="explore::explore"></div>



</div>
</html>